.card {
  height: 260px;
  width: 280px;
  max-height: 300px;
  margin: 10px;
  box-shadow: 3px;
  padding-left: 0px;
  padding-right: 0%;
}

.media {
  width: 100%;
  height: 310px;
  transition: transform .5s ease-in-out;
}
.container:hover .media {
  transform: scale(2) rotate(25deg);
}
.container {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}


.container:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-family: 'Lobster Two', cursive;
  margin-bottom: 0;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  
}
.text1 {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 60%;
  left: 50%;
  max-height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}
.noMovies {
  color: rgb(134, 134, 134);
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.buyButton {
  background: linear-gradient(270deg, #009933 -13.97%, #33cc33 50.97%,#66ff66 105.15%);
  padding: 10px;
  width: 120px;
  position: absolute;
  top:70%;
  left:25%;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: white;
  box-shadow: 0 5px 0px 0px #205323;
  margin-bottom: 30px;
  cursor: pointer;
}
.buyButton:hover{
  box-shadow: none;
  transform: translateY(3px);
  transition: all .1s linear;
}
.buyButton:focus{
  outline: transparent;
}
.formcateg {
  top: 15%;
  width: 20%;
  border-radius: 10px;
  background-color: white;
  left: 4%;
}
.formregion {
  top: 15%;
  width: 20%;
  border-radius: 10px;
  background-color: white;
  left: 5%;
}
.bar
{
    background-color: "#F6F6F6";
    color: "black"
}

/* .carousel-caption
{
   top: 200px;
   background-color: black;
} */
.arsearch
{
  left:2%;
}
.icon:hover{
  color: rgb(79, 106, 121);
  cursor: pointer;
}
.icon
{
  color:green;
}
.test
{
  position: fixed;
  top:30%;
  left:30%;
  width: 500px;
  height: 700px;
}
.modal1 {
  height: 400px;
  width: 500px;
  max-height: 350px;
  margin: 8px;
  box-shadow: 3px;
}
.title1
{
color: #205323;
}
.close
{
text-align: right;
}
.prec{
text-align:left;
position: absolute;
top:45%;
left:-1%
}
.next
{
text-align:right;
position: absolute;
left: 97%;
top:45%;
}
.info
{
position: absolute;
top:90%;
height: 70%;
}
.imgs
{
height: 60%;
}
.imgs img{
height: 100%;
width: 100%;
}
.vl {
border-left: 1px solid green;
height: 400px;
}
#lists-r
{
display: none;
}
#lists-c
{
  display: none;
}
